.App {
  text-align: center;
}

ul {
  list-style: none;
  font-weight: bold;
  font-size: 20px;
}

select {
  text-align: center;
}

.btn-outline-dark {
  margin-bottom: 40px;
  text-align: center;
}

.form-group {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 300px;
}

